[2018-01-09 09:49] geoand opened #2 "Error occurs when Istio Auth is enabled"
I was testing whether or not the demo [Spring Boot Istio application](https://github.com/snowdrop/spring-boot-quickstart-istio) works correctly when Istio Auth is enabled.
Unfortunately I encountered the following issue when deploying the application using `mvn clean package fabric8:deploy -Pistio-openshift`.

[code]

It seems that there is a mismatch between the Java model specified for the `Mesh

[2018-01-09 10:36] cmoulliard commented on #2
json reports this error as it parses text while the model has been defined as integer

Model

[code]

Istio config protobuf maps auth mode to an integer value

[code]

[2018-01-09 15:35] #2 closed

[2018-01-10 08:51] geoand opened #3 "Unable to deploy istio-spring-boot with me.snowdrop:istio-model:0.4-SNAPSHOT"
After making sure that the `fmp-istio-enricher` uses `me.snowdrop:istio-model:0.4-SNAPSHOT` I tried to deploy our [Spring Boot Quick Start Istio](https://github.com/snowdrop/spring-boot-quickstart-istio) following the instructions (`mvn clean package fabric8:deploy -Pistio-openshift`).

Although the error reported in #2 was cleared, I now get the following stacktrace

[code]

After inspecting the

[2018-01-10 10:54] #3 closed

[2018-01-15 11:23] lordofthejars opened #5 "Fixed namespace in KubernetesAdapter"
In Kubernetes adapter we are fixing the namespace (https://github.com/snowdrop/istio-java-api/blob/master/istio-client/src/main/java/me/snowdrop/istio/client/KubernetesAdapter.java#L28) the namespace comes configured in the client itself so we really don't need to force any other namespace nor need as a parameter.

So we can remove this line.

[2018-01-15 11:27] lordofthejars opened #6 "Istio yaml can contain more than one document inside"
Istio yaml can contain more than one document inside. YAML allows defines more than one document in the same file by separating them with `---`.

We need to configure Jackson library to read in that way.

@hemanik can help on this providing some hints on how to do it since she did it in kubernetes client.

[2018-01-15 11:42] lordofthejars opened #7 "Cannot use Istio Client with versioned kubernetes client"
Currently Istio resources extends from `HasMetadata` interface. This interface comes from `io.fabric8.kubernetes.api.model`. The problem is that when you want to use the `versioned uberjar` kubernetes client, internally the client expects that any resource implements from `io.fabric8.kubernetes.api.model.v3_1.HasMetadata` so obviously I got some compilation errors.

So for now the only thing I see

[2018-01-15 12:13] iocanel commented on #7
I think that the cleanest approach (if it works) would be to have istio
optionally depend on the kubernetes-client and create a shaded jar of its
own. The new shaded jar can depend on our f-k-c uberjar and use the same
transformations.

I haven't tried something like this before but I think that it will just
work.

On Mon, Jan 15, 2018 at 1:42 PM, Alex Soto <notifications@github.com> wrote:

--
*I

[2018-01-15 12:31] metacosm commented on #7
The question, though, is why does the client not rely on the kubernetes-model class  and use a different one. The client should rely only on the published API. I think that would be the cleaner approach. What is the reason behind client using that particular class and not the one from the API?

[2018-01-15 12:47] iocanel commented on #7
The client does rely on the model. It doesn't use something else. However,
the client also provides an shaded uberjar, that contains versioned
packaged (for all its modules and also for the model itself).
This allows frameworks like arquillian-cube, use the versioned packages and
stay out of the users way (letting the user use whatever version of the
kubernetes-client fits their needs without conf

[2018-01-15 14:33] metacosm commented on #6
@hemanik can you point me to how to implement this, please? I can probably figure it out myself but it'll go faster if you can point me to the appropriate doc / code / direction! ;)

[2018-01-15 14:35] #5 closed

[2018-01-15 15:22] lordofthejars commented on #7
Yeah @iocanel has explained very well, because of lack of classpath isolations we need to do this hacky thing.

[2018-01-15 20:14] metacosm commented on #6
Thanks!

[2018-01-16 20:25] #6 closed

[2018-01-17 09:30] metacosm commented on #7
@lordofthejars how can I reproduce the issue you're seeing? Do you have a repo somewhere that I can clone to try it out?

[2018-01-17 10:24] lordofthejars commented on #7
I have no repo but it is as easier as create an empty project, add this library:

[code]

And then try to call `client.customResources(customResourceDefinition, IstioResource.class, KubernetesResourceList.class, DoneableIstioResource.class).create(resource);`

were `client` is of type `io.fabric8.kubernetes.clnt.v3_1.KubernetesClient`

[2018-01-17 11:03] metacosm commented on #7
Actually, using IstioClient won't even compile since the Adapter requires a "regular" KubernetesClient… so you'd like a completely shaded dependency, right?

[2018-01-17 11:05] lordofthejars commented on #7
Exactly this is the problem. You can create your own `Adapter` with shaded client but you still have the problem that istio model depends on `HasMetadata` and not `V3_1.HasMetadata`

[2018-01-17 13:40] metacosm commented on #7
Can't seem to get it to work… :(

[2018-01-17 14:06] lordofthejars commented on #7
Yeah because what we need is an Istio model depending on versioned model.

[2018-01-17 14:11] metacosm commented on #7
That was what I couldn't get to work but I think I cracked it (shaded jar newbie here) :)

[2018-01-17 14:57] metacosm commented on #7
Deployed a 0.6-SNAPSHOT. Can you give it a try @lordofthejars? Would you mind reviewing @iocanel, please, when you get a chance?

[2018-01-17 15:23] lordofthejars commented on #7
Downloading now :)

[2018-01-17 15:45] lordofthejars commented on #7
Still the same. Look the imports are the next ones:

[code]

Since IstioResource implements `HasMetadata` and not `io.fabric8.kubernetes.api.model.v3_1.HasMetadata` we still have the same compilation errors. It is not about creating a uber jar but create a jar that is creating the IstioResources implementing `io.fabric8.kubernetes.api.model.v3_1.HasMetadata`._

[2018-01-17 15:54] metacosm commented on #7
Hmm, look at https://github.com/metacosm/istio-test-dsl/blob/with-uberjar/src/main/java/IstioYamlGenerator.java. It uses both uberjars and it successfully creates RouteRules. In the istio-client-uberjar, IstioResource *does* implement `v3_1.HasMetadata`… Can you please double-check?

[2018-01-17 17:12] lordofthejars commented on #7
humm maybe I got some cached thing, let me try again :)

[2018-01-18 06:44] lordofthejars commented on #7
Great after deleting m2repo deps of istio-api, everything is back to normal hehehe and it works as expected. Thanks :)

[2018-01-18 08:03] metacosm commented on #7
Good to hear! That's often an issue building against snapshots. Will release a new version now that this problem is addressed.

[2018-01-18 08:03] #7 closed

[2018-05-07 15:20] anmolbabu opened #13 "Add support to create "metric" as a istio resource"
When I try to create a metric as in https://github.com/anmolbabu/hdd-istio-java-poc,
it fails with the following error:

java.lang.IllegalArgumentException: metric is not a known Istio resource.
	at me.snowdrop.istio.client.IstioClient.registerCustomResources(IstioClient.java:50)
	at me.snowdrop.istio.client.IstioClient.registerCustomResources(IstioClient.java:72)
	at org.osio.hdd.istio.com.App.ma

[2018-05-07 15:40] metacosm commented on #13
Indeed, this isn't currently supported but I will add support for it as soon as possible. Thanks for the report!

[2018-05-07 15:41] bgokden commented on #13
@anmolbabu We had a similar issue we end up adding our MixerMetric Structure and Prometheus Structure.

https://github.com/magneticio/istio-java-api/tree/master/istio-model/src/main/java/me/snowdrop/istio/api/model/v1/mixer/template

We didn't test it well enough. If it passes our tests, we will create a pull request.

[2018-05-07 15:48] metacosm commented on #13
@bgokden Thank you! This project is still in its infancy and figuring out which resources need to be generated is not as straightforward as it should be… but we'll get there in time! :)

[2018-05-08 03:06] anmolbabu commented on #13
Also please add support for more resource types like prometheus and rule as in the example @ https://github.com/redhat-developer-demos/istio-tutorial/blob/master/istiofiles/recommendation_requestcount.yml

[2018-05-09 15:11] metacosm commented on #13
I have started working on this. I hope to have a fix by the end of the week. By the way, @anmolbabu, you should definitely use the latest version: we're up to `0.9`, you're still using `0.7`. I need to figure out what versioning scheme to adopt since it'd be nice that the lib match the Istio version it is compatible with.

[2018-05-10 11:04] anmolbabu commented on #13
Could you please also add "kind: prometheus" as in https://github.com/redhat-developer-demos/istio-tutorial/blob/master/istiofiles/recommendation_requestcount.yml#L16 and "kind: rule" as in https://github.com/redhat-developer-demos/istio-tutorial/blob/master/istiofiles/recommendation_requestcount.yml#L32

[2018-05-10 13:15] metacosm commented on #13
Yes, it’s planned

[2018-05-11 19:55] metacosm commented on #13
BTW, @anmolbabu are these files confirmed to work on Istio 0.7.1 because the documentation (https://istio.io/docs/reference/config/adapters/prometheus.html) states that, for example, https://github.com/redhat-developer-demos/istio-tutorial/blob/master/istiofiles/recommendation_requestcount.yml#L23 should be `instanceName` and not `instance_name`?

[2018-05-17 10:45] anmolbabu commented on #13
@metacosm Yes I tried https://istio.io/docs/tasks/telemetry/metrics-logs.html#collecting-new-telemetry-data on istio-0.7.1 and instance_name still works

[2018-05-17 10:50] metacosm commented on #13
@anmolbabu actually, based on what I've learned since I asked the question, it works because the Istio parser is lenient and accepts both versions. However, field names are supposed to use lowerCamelCase. Supporting both in the Java API, while possible, would make things more complex so right now, I tend to think that I will only support the lowerCamelCase format (i.e. `instanceName`). What do you

[2018-05-17 12:44] anmolbabu commented on #13
@metacosm I'll give this("_" notation/snake case replaced with camel case) a try on my deployment and confirm max by tomorrow EOD

[2018-05-18 08:28] metacosm opened #15 "⚡️Parse go comments to generate javadoc"
Using https://godoc.org/go/parser?

[2018-05-18 12:03] anmolbabu commented on #13
@metacosm You are right, the camel case works

[2018-06-07 10:21] rmfish opened #17 "Istio 0.8 compatibility"
The Istio 0.8 LTS is released this month.
v1alpha3 router rules configuration are recommended.
Is there a plan to make compatible with new version?

[2018-06-07 11:05] metacosm commented on #17
I think you've figured it out already based on the fact that you closed this issue, but, yes, compatibility with 0.8 is coming. :)

[2018-06-15 09:33] metacosm commented on #13
This has been fixed with the `0.10` version released yesterday.

[2018-06-15 09:33] #13 closed

[2018-06-28 11:57] geoand opened #18 "🐛 Unable to build"
OS: Ubuntu 16.04

Steps followed:

- Install Go 1.10
- Set `GOPATH` to `$HOME/gowork`
- `mkdir $GOPATH/src`
- `mkdir $GOPATH/bin`
- Install dep into `$GOPATH/bin`:
 `curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh`
- Check out project:
[code]
- Install dependencies:
`$GOPATH/bin/dep ensure`
- Launch build script:
`make`

Outcome:

[code]

Contents of `/home/gandrian/gowork

[2018-06-28 12:22] geoand commented on #18
The issue seems to go away if

`<delete file="${basedir}/target/generated-sources/me/snowdrop/istio/api/model/Timestamp.java" verbose="true" />
`

is replaced by

`<delete file="${basedir}/target/generated-sources/me/snowdrop/istio/api/model/TimeStamp.java" verbose="true" />`

in `istio-model/pom.xml`

[2018-06-28 15:47] metacosm commented on #18
The main issue here is that the source code is not in the proper hierarchy but there seems to still be an issue with Timestamp vs TimeStamp that shows up on Linux. This doesn't show up on my system because macOS is case-insensitive but case-preserving (at least, I think that's the root of the problem). So I do need to investigate some more.

[2018-06-28 16:03] geoand commented on #18
Sounds good :)

[2018-07-02 13:06] #18 closed

[2018-07-10 08:14] bgokden opened #25 "VirtualService Uri parameter is not set correctly"
Hi,

We are having some problem in setting VirtualService uri parameters as in example:

`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: reviews-route
spec:
  hosts:
  - reviews.prod.svc.cluster.local
  http:
  - match:
    - uri:
        prefix: "/wpcatalog"
    - uri:
        prefix: "/consumercatalog"
    rewrite:
      uri: "/newcatalog"
    route:
    - destin

[2018-07-10 08:18] geoand commented on #25
@bgokden `0.11` is identical to `0.10` I think with the only change being a bump in the Kubernetes Client and Model

[2018-07-10 08:20] metacosm commented on #25
@bgokden I will look at it ASAP

[2018-07-10 15:52] metacosm commented on #25
The issue is that the code doesn't know how to deal with `oneof` at the moment. I am going to investigate what can be done.

[2018-07-11 10:07] metacosm commented on #25
I think I'm going to have to hand-code `StringMatch` for now…

[2018-07-11 12:16] bgokden commented on #25
@metacosm I think you are right, there should only one uri inside httpmatch as in this documentation:
https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPMatchRequest

It seems like they have conflicting examples in their documentation.
@ avalcepina

[2018-07-11 15:49] metacosm commented on #25
Actually, the example is correct, it's just YAML being YAML… :(

[2018-07-12 08:51] #25 closed

[2018-07-12 19:38] metacosm commented on #25
@bgokden do you still require pre-0.8 resources? I'm considering removing them to make things simpler so would appreciate hearing from you on that subject…

[2018-07-12 19:40] bgokden commented on #25
@metacosm no, we are not using anything pre-0.8. You can remove them. Thanks 👍

[2018-07-12 19:41] metacosm commented on #25
Thanks!

[2018-07-13 09:21] metacosm opened #26 "Remove pre-0.8 model classes."

[2018-08-01 13:19] bgokden opened #28 "Add support for istio 1.0.0 and Envoy filters"
Istio 1.0 released today.
There are not many changes, only Envoy Filters are added.
I hope just adding the class and generating the builders should work.

https://istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter

[2018-08-21 17:48] puneetsar opened #30 "Add support for ISTIO_MUTUAL in TLSmode"
https://istio.io/docs/reference/config/istio.networking.v1alpha3/#TLSSettings-TLSmode

[2018-08-28 09:49] metacosm commented on #28
Releasing a new version of the API with support for 1.0.1 is on my plate for this week.

[2018-09-04 13:34] geoand commented on #28
We also need to support `Policy` objects as are used [here](https://istio.io/docs/tasks/security/authn-policy/#policy-precedence).

[2018-09-04 13:34] geoand commented on #30
I think this is pretty much part of #28.

[2018-09-05 13:50] geoand opened #31 "Unable to delete custom resources"
When running some [Istio tests](https://github.com/snowdrop/spring-boot-istio-routing-booster/blob/maistra/tests/src/test/java/me/snowdrop/booster/istio/routing/OpenshiftIT.java), I ran into an issue where I can't seem to delete custom resources.

The custom resources being used are VirtualService, Gateway and DestinationRule and while debugging the IstioClient does return `true` when `deleteCusto

[2018-09-05 14:53] geoand commented on #31
This seems to be an issue with the Kubernetes Client (see [this](https://github.com/geoand/k8s-client-customresource-delete) project for a simple demonstration of the problem)

[2018-09-05 14:53] geoand commented on #31
cc @iocanel

[2018-09-05 19:57] metacosm commented on #26
Done.

[2018-09-05 19:57] #26 closed

[2018-09-06 18:15] geoand opened #32 "Use go container in CircleCI config"
This change will make the configuration a lot simpler

[2018-09-06 18:15] geoand commented on #32
I'll probably do this very soon

[2018-09-10 10:57] #32 closed

[2018-09-10 10:58] geoand commented on #31
See [this](https://github.com/openshift/origin/issues/20891)

[2018-09-11 14:14] bgokden commented on #28
I saw that there are many updates recently, did you try if the latest release work with 1.0.x?
We are waiting for a release but I can test and deploy locally if somebody confirms that it works (mostly).

[2018-09-11 14:15] geoand commented on #28
Hey @bgokden

@metacosm is ironing out some issues (and I'm trying to jump into the codebase as much as possible) so a first test release should hopefully be close

[2018-09-11 16:33] metacosm commented on #28
Hi @bgokden,
For the gory details, I'm re-writing the generation code that deals with interface fields defined in the go APIs. It proved quite challenging but I think I'm getting there. The idea is to remove a lot of manual work that is currently needed (and actually, also incorrect) in the current code so that we can move towards a more stable API with an eye on a 1.0 release soon-ish.
Speaking o

[2018-09-12 11:35] bgokden commented on #28
Hi @metacosm
Thank you for asking. Improvements are always good.
We talked about it with my colleague. It is ok as long as it works.

[2018-09-14 08:27] geoand opened #37 "Unable to deploy policy"
Using the `generic-deserializer` branch I am unable to deploy:

[code]

using `istioClient.registerCustomResources(resourceAsStream);`

The stacktrace is:

[code]

[2018-09-14 08:27] geoand opened #38 "Unable to deploy DestinationRule with tls mode set"
Using the `generic-derializer` branch I am unable to deploy:

[code]

with `istioClient.registerCustomResources(resourceAsStream);`

The stacktrace is:

[code]

[2018-09-14 09:01] metacosm commented on #38
Should be fixed now.

[2018-09-14 09:06] geoand commented on #38
Tested the fix and it works

[2018-09-14 09:06] #38 closed

[2018-09-14 14:58] metacosm commented on #37
Should be fixed now.

[2018-09-14 15:02] geoand commented on #37
Indeed problem solved, thanks @metacosm !

[2018-09-14 15:02] #37 closed

[2018-09-14 16:01] metacosm commented on #30
Fixed by https://github.com/snowdrop/istio-java-api/pull/36/commits/39bcf9c9795b4241b0fbc8bbaa0af9b02d9a5e38

[2018-09-14 16:01] #30 closed

[2018-09-14 16:29] metacosm commented on #28
Initial support done with #36, please give it a try. There are more changes in the pipes to make code organization better (package names in particular) and avoid name collisions. There are still some Istio CRDs that are not supported (due to name collisions) so this still needs to be done.

[2018-09-14 16:29] #28 closed

[2018-10-02 18:53] metacosm commented on #31
This should be addressed in `master` now via #43.

[2018-10-04 20:09] metacosm commented on #31
@geoand can you verify that this issue is indeed fixed, please?

[2018-10-04 20:36] #31 closed

[2018-10-07 01:57] jmirc opened #46 "Bug - Bad resourceT in ServiceEntryOperationImpl class"
Hi,

I am using the library with Rancher 2.0 and EKS and I am not able to create a `serviceEntry` or to list of `serviceEntry` previously created.
The `resourceT` in the ServiceEntryOperationImpl class is set as `serviceentrys`. This seems to be an issue with the plurials.

I changed to `serviceentries` and everything works as expected.

[code]

[2018-10-07 08:57] geoand commented on #46
Hi,

Could you tell us what version of the library you are using?

[2018-10-07 10:28] metacosm commented on #46
Will check if we can merge #45 and then will release `1.0.0.Alpha2`

[2018-10-07 11:28] jmirc commented on #46
If you merged, I will fix it. For now, I just created two classes to avoid the problem.

[2018-10-08 08:35] metacosm commented on #46
Working on it. I'd be interested in hearing about how you use the API and if you have any comments/suggestions… :)

[2018-10-08 11:38] jmirc commented on #46
I am developing on a new tool to deploy micro-services with rancherv2/kubernetes/istio. I am working for Expedia and I need to integrate this new tool under our CICD platform. I didn't find any external tools that I could re-use.
For now, the library is very similar to the one I am using for kubernetes (fabric8), so I didn't find any problems in term of usability.

However, here are two points tha

[2018-10-08 13:29] metacosm commented on #46
@jmirc we've just released a new version of the API which should address both of your concerns. Thank you for the feedback and encouraging words!

[2018-10-08 16:42] jmirc commented on #46
Everything works including the fix in the `inNamespace` method.

Thanks. I am closing the issue.

[2018-10-08 16:42] #46 closed

[2018-10-10 11:26] geoand opened #48 "Error parsing Policy YAML"
When attempting to parse the following:

[code]

via `mapper.readValue(inputStream, VirtualService.class)` we get the following error: https://gist.github.com/geoand/98395a190f83949407305ef6bed8f868

[2018-10-10 11:43] geoand commented on #48
The problem seems to be in the generated `HTTPMatchRequest`. Specifically the type of the `headers` field is obviously not correct

[2018-10-10 11:58] metacosm commented on #48
@lordofthejars which version of the API are you using?

[2018-10-10 12:01] geoand commented on #48
@metacosm the same error occurs for the both `1.0.0Beta1` and the `0.13` which is used in Arquillian,

For what I have found so far, it has to do with the deserialization of Map<String, me.snowdrop.istio.api.networking.v1alpha3.StringMatch>

[2018-10-10 12:07] metacosm commented on #48
@geoand looking into it

[2018-10-10 12:07] geoand commented on #48
@metacosm me too :P

[2018-10-10 12:09] geoand commented on #48
It's looks like a weird Jackson deserialization issue like the ones we love :P

[2018-10-11 08:45] #48 closed

[2018-10-11 17:48] metacosm commented on #48
`1.0.0.Beta2` has been released with the fix. Note that the mixer adapter packages have changed to be consistent with the other packages (`adapter.*` -> `mixer.adapter.*`)

[2018-11-20 04:47] hemikak opened #51 "When will 1.0.0 get released ?"
May I know $subject ?

[2018-11-20 09:56] metacosm commented on #51
Hi @hemikak, we're targeting to release this week. May I ask what interest you have in this project?

[2018-11-21 05:49] hemikak commented on #51
Hi @metacosm ,

Thanks for the info. I am particularly interested in the istio models. Want to generate yaml files using the models.

Regards,
Hemika

[2018-11-23 10:10] metacosm commented on #51
`1.0.0` has been released and has been updated to use Istio `1.0.4`.

[2018-11-23 10:10] #51 closed

[2019-01-08 08:22] mocenas opened #56 "Conflicting ResourceHandler when two different object kinds exist"
When trying to load Istio resources from a yaml file that contains an Istio Policy I will receive a following exception:
java.lang.ClassCastException: me.snowdrop.istio.api.authentication.v1alpha1.Policy cannot be cast to io.fabric8.openshift.api.model.v4_0.Policy

Links to [this](https://github.com/fabric8io/kubernetes-client/issues/1313) issue.

[2019-03-20 03:17] liuht777 opened #58 "When will upgrade to Istio 1.1 ?"

[2019-03-20 15:47] metacosm commented on #58
Going to look at it next week.

[2019-04-26 09:26] metacosm commented on #58
Hi @slowboy666, we've released a 1.1.0-Beta2 version which targets Istio 1.1.3. It'd be great if you could take it for a spin and let us know if you have any issues / comments?

[2019-04-29 03:22] slowboy666 commented on #58
Many Thanks!

[2019-05-06 06:32] ja3per opened #60 "How to delete gateway/virtualService via name?"
Hi Team,
I want to delete an Istio gateway via gateway name.
Following is my code but it doesn't work(Return false and gateway not be deleted)
`                Boolean delGateway = istioClient.virtualService().inNamespace(nsLaunchpad).withName(gatewayName).delete();
`

Or how can I get the gateway via gateway name? Then I can delete gateway by this way
`istioClient.gateway().delete(gateway)`

Plea

[2019-05-06 08:52] #60 closed

[2019-05-06 08:55] ja3per commented on #60
use the wrong code, ignore this issue.

[2019-05-08 14:40] naitikdani opened #61 "Error while creating VirtualService resource"
I am running version 1.1.0 of istio-java-api and get following error while creating VirtualService resource:

Exception in thread "main" java.lang.NoSuchFieldError: _visitables
        at me.snowdrop.istio.api.networking.v1alpha3.VirtualServiceFluentImpl.withMetadata(VirtualServiceFluentImpl.java:72)
        at me.snowdrop.istio.api.networking.v1alpha3.VirtualServiceBuilder.<init>(VirtualServiceBu

[2019-05-08 15:55] geoand commented on #61
@iocanel this sounds like something in your wheelhouse :)

[2019-05-08 15:59] iocanel commented on #61
@naitikdani: Seems like you are using incompatible versions of `kubernetes-client` and `istio-java-api` can you please provide the exact versions, so that I can verify my suspicion?

[2019-05-09 07:49] zhengzepeng commented on #58
cool~thanks

[2019-05-09 08:44] zhengzepeng opened #62 "Error happens when i get destinationRule"
.
	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.requestFailure(OperationSupport.java:503)
	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.assertResponseCode(OperationSupport.java:442)
	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.handleResponse(OperationSupport.java:406)
	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.handleResponse(OperationSupport.

[2019-05-09 08:46] zhengzepeng commented on #62
istio-client version is 1.1.0-Beta2

[2019-05-09 08:47] geoand commented on #62
@iocanel @metacosm any ideas?

[2019-05-09 08:49] metacosm commented on #62
That looks like a k8s client issue. Let me look into it.

[2019-05-09 09:57] zhengzepeng commented on #62
I see the DestinationRuleOperationImpl source code，and i change my example like that :
`

    public class DestinationRuleDemo {
        public static void createOrReplaceServiceEntry() {
            Config config = new ConfigBuilder().build();
            config.setMasterUrl("https://10.8.4.113:6443");
            DefaultIstioClient client = new DefaultIstioClient(config);
            Destination

[2019-05-09 11:42] metacosm commented on #62
@zhengzepeng there is indeed a bug that I'm working on. I hope to have a fix by the end of the day. Thanks a lot for the report and the investigation!

[2019-05-09 12:52] #62 closed

[2019-05-09 14:25] #58 closed

[2019-05-09 18:37] naitikdani commented on #61
@iocanel, you were right. I changed kubernetes-client version to 4.2.1 and it started working.

[2019-05-09 18:37] #61 closed

[2019-05-09 18:47] naitikdani opened #63 "In Virtualservice how to append new match rule"
I have a requirement where if i had a new microservice i need to update virtualservice with match rule. I tried to append the new match rule with edit() api but it didn't work.

kubectl get virtualservice/reviews-route -o yaml
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: reviews-route
  namespace: default
spec:
  gateways:
  - logforwarding-gateway
  hosts:
  - r

[2019-05-09 19:42] metacosm commented on #62
@zhengzepeng I've released a new version of the API which fixes the issue. Thank you again!

[2019-05-09 22:02] naitikdani commented on #63
In fact, I get this error when I call edit() on already created virtualservice.

kubectl get virtualservice/reviews-route -o yaml
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  creationTimestamp: "2019-05-09T20:35:37Z"
  generation: 1
  name: reviews-route
  namespace: default
  resourceVersion: "2243865"
  selfLink: /apis/networking.istio.io/v1alpha3/namespaces/default/

[2019-05-10 01:36] zhengzepeng commented on #62
@metacosm Thanks! I test the new version and it works good!

[2019-05-10 06:20] iocanel commented on #61
Thanks for the feedback!

[2019-05-10 06:21] geoand commented on #63
@iocanel probably another one for you :)

[2019-05-10 06:24] iocanel commented on #63
@naitikdani: Unfortunately, we don't have a workaround for this one (its currently broken). @metacosm is working on it and hopefully, we will have a fix.

[2019-05-10 06:26] iocanel commented on #63
@metacosm: feel free to throw it back at me, if you are swarmed, I just assigned it to you as I know you were already working on it.

[2019-05-10 06:55] metacosm commented on #63
@naitikdani hi, this issue has been fixed with 1.1.0-Beta3. Please give it a try and let us know how it goes!

[2019-05-10 08:46] hypnoce opened #64 "Bug in Abort deserialization"
Hi,

First, thanks for this library. It is a great help for us.
I was trying to register a virtual service using istio-client 1.1.0-Beta3 on istio 1.1.4.
[code]
I got the following error :
[code]
It seems there is a discrepency between https://github.com/snowdrop/istio-java-api/blob/master/istio-common/src/main/resources/classes-with-interface-fields.yml and the auto generated me.snowdrop.istio.ap

[2019-05-10 10:05] metacosm commented on #64
I will take a look as soon as possible

[2019-05-10 15:22] naitikdani commented on #63
@metacosm the new version worked like a charm. Thank you so much for fixing this. One more question, does edit() API also support deleting a match rule? If yes, can you share what api should I call to make it work.

Thanks for all your help.

[2019-05-10 15:34] metacosm commented on #63
@naitikdani I'd assume that something like: `istioClient.virtualService().withName("reviews-route").edit().editSpec().editMatchingHttp(<predicate identifying the http route you want to modify>).removeFromMatch(<match you want to remove>).endHttp().endSpec().done()` should work…

[2019-05-10 15:34] #63 closed

[2019-05-10 16:03] metacosm commented on #64
@hypnoce there is indeed a bug that should be addressed soon. Thank you for the report and the investigation!

[2019-05-10 16:57] #64 closed

[2019-05-10 17:16] metacosm commented on #64
This issue should be fixed now, I will release a new beta version.

[2019-05-10 17:23] metacosm opened #65 "Need to check that all fields of classes with interfaces are taken into account"
When updating Istio, it might happen that new fields are added to existing entities. If such an entity has interface fields, the corresponding entry needs to be updated in `classes-with-interface-fields.yml` accordingly. See #64 for example.
We, therefore, need to automate the detection of such fields so that they can be properly added.

[2019-05-10 17:23] hypnoce commented on #64
Thanks !

[2019-05-10 18:11] metacosm commented on #64
@hypnoce https://github.com/snowdrop/istio-java-api/releases/tag/1.1.0-Beta4
May I ask how you use the API?

[2019-05-11 02:42] naitikdani opened #66 "editMatchingHttp() is not able to find a matching http"
@metacosm , editMatchingHttp() is throwing the following error when trying to remove a specific match from virtualservice yaml file.

java.lang.RuntimeException: Can't edit matching http. No match found. at me.snowdrop.istio.api.networking.v1alpha3.VirtualServiceSpecFluentImpl.editMatchingHttp(VirtualServiceSpecFluentImpl.java

Here is the sample of yaml file and the code:
[code]

In the above yam

[2019-05-11 15:42] hypnoce commented on #64
I'm using it to programmatically inject faults in a controlled way to simulate failure scenarios and validate the behavior of our services. I use it in conjunction with selenium to drive the application and the base k8s fabric8 client to retrieve logs and control lifecycle of pods.

[2019-05-11 18:34] metacosm commented on #66
You need to use `equals` instead of `==` to compare complex objects. That said, there seems to be a bug in the code generation library that we're using and the generated `equals` method doesn't work properly either. See https://github.com/sundrio/sundrio/issues/142.

[2019-05-11 21:28] naitikdani commented on #66
@metacosm, thanks for the update. When do you think the fix will be available?

[2019-05-12 06:05] metacosm commented on #66
No idea yet.

[2019-05-13 22:30] metacosm commented on #66
@naitikdani the initial issue that was found has been addresses in the underlying library. However, we're trying to get some more improvements that would make the API easier to use for your use case at the time. Hopefully, this will get done this week.

[2019-05-14 06:25] metacosm commented on #66
@naitikdani to be more precise, the approach that you use wouldn't work even with the fix. The predicate needs to be something more like: `h -> h.hasMatchingMatch(m -> m.hasHeaders() && m.getHeaders().equals(matchMap)) && h.hasMatchingRoute(r -> r.buildDestination().getHost().equals("service-coke"))`. Note that this predicate will still fail without https://github.com/sundrio/sundrio/pull/144.

[2019-05-15 01:55] naitikdani opened #67 "Equivalent java api for istio-injection"
Is there any equivalent java api in istio-java-api library for this command:

kubectl label namespace <namespace> istio-injection=enabled

[2019-05-15 07:37] metacosm commented on #67
Not at this time, no.

[2019-05-16 08:17] metacosm commented on #66
@naitikdani I will release a new beta version as soon as a new sundrio release is available.

[2019-05-20 12:56] metacosm commented on #66
This should be addressed in https://github.com/snowdrop/istio-java-api/releases/tag/1.1.0-Beta5. Note that you can now do: `istioClient.virtualService().withName("reviews-route")
                .edit().editSpec()
                .removeMatchingFromHttp(h -> h.hasMatchingMatch(m -> m.hasHeaders() && m.getHeaders().equals(matchMap)) && h.hasMatchingRoute(r -> r.buildDestination().getHost().equals("

[2019-05-20 12:56] #66 closed

[2019-05-22 05:20] naitikdani commented on #66
Thanks @metacosm your fix works.

[2019-05-30 02:15] naitikdani opened #68 "Lookup on http route in Virtualservice yaml is not working"
Hello @metacosm ,

I have this yaml file:

[code]

I want to do a lookup on http route with route/destination/host as `service-coke` and port 8080.

I wrote this code and it returned `false`:
[code]

I got `entryFound` as `false`.
Is this the right way to do a lookup for http route?
Thanks in advance

[2019-05-31 11:21] metacosm commented on #68
Hi @naitikdani,

You're trying to perform a partial match (i.e. the route you're trying to match against doesn't contain the `match` element that the route you created via YAML contains), which is not how `List.contains` works: this will only return true if the *exact* object exists in the list.

What you want to do instead is something like:
`http.stream().anyMatch(r -> r.getRoute().stream().anyM

[2019-05-31 11:21] #68 closed

[2019-06-15 02:22] sureshsmvc opened #69 "Error in Virtual Service Spec Deserialization"
Error in deserializing VirtualService configuration for the below spec
`istio-java-api` version - 0.12

### Spec
[code]

### Error

[code]

[2019-06-17 09:15] metacosm commented on #69
Please use the latest `1.0.0` version.

[2019-06-17 09:15] #69 closed

[2019-07-08 17:13] naitikdani opened #70 "Equivalent API to get istio external endpoint"
Is there any API to get external IP address of GKE cluster running Istio?

[2019-07-10 05:13] #70 closed

[2019-07-24 10:00] lianghuiyuan opened #71 "maven dependency istio-java-api 1.1.0 not load in project External Libraries"
This dependency is seems not work?  It can not load in project External Libraries.
[code]

[2019-07-24 10:01] geoand commented on #71
Can you try to remove `<type>pom</type>` and see what happens?

[2019-07-24 13:42] lianghuiyuan commented on #71
I have removed `<type>pom</type>` , It can not load in project External Libraries either.

[2019-07-24 16:36] metacosm commented on #71
@lianghuiyuan is there a way for us to reproduce the issue like a sample project we could look at?

[2019-07-24 17:20] lianghuiyuan commented on #71
@metacosm  Thank you for help!
I new created a Springboot project, and add `istio-java-api` dependency in the pom.xml
It can not load in project External Libraries.
The example project: https://github.com/lianghuiyuan/springworld.git
below is the project pom.xml:
[code]
![image](https://user-images.githubusercontent.com/8090998/61813968-8f4d6280-ae79-11e9-9661-ccd473907bc1.png)

[2019-07-24 17:25] metacosm commented on #71
Thanks, I will take a look soon.

[2019-07-25 02:44] lianghuiyuan commented on #71
@metacosm  Thanks.  is my `pom.xml` error or something ?
I tried different ways, but still can not load  in project External Libraries.

[2019-07-25 06:19] metacosm commented on #71
@lianghuiyuan actually, what you want to be using is the `istio-client` artifact most likely, not the `istio-java-api` one which is the parent POM and therefore doesn't contain any code by itself. Sorry I missed it earlier.
Let me know if that fixes your issue.

[2019-07-29 16:44] lianghuiyuan commented on #71
Thank you! @metacosm    Sorry for late reply.  Actually, I need both **`istio-client`** and **`kubernetes-client`** artifacts as I need to create/update/delete/list Gateway, VirtualService, DestinationRule and ServiceEntry. I am not sure it is the best way, but it works. Follow is the configuration in maven:
[code]

 **But now another problem came out: I config the IstioClient failed**

I config t

[2019-07-30 07:00] lianghuiyuan commented on #71
OK, I fixed the problem.
- To Config the Client as follow two ways:
[code]
Or
[code]

- the artifacts in pom.xml are:
[code]

[2019-07-30 07:00] #71 closed

[2019-07-31 13:48] lianghuiyuan opened #72 "'Caused by: javax.net.ssl.SSLHandshakeException: Remote host terminated the handshake' and 'java.io.EOFException: SSL peer shut down incorrectly'"
I config IstioClient with cluster-admin token,
[code]
I run my app locally in IDEA spring boot is OK, but when I put it in Kubernetes pod, It come out this problems
[code]

[2019-07-31 15:12] lianghuiyuan commented on #72
OK, Fixed. Just use 'kubectl get svc' get the kubernetes svc IP and port 443 for k8s_cluster_url.
This problem puzzled me the whole afternoon!

[2019-07-31 15:12] #72 closed

[2019-08-01 10:43] lianghuiyuan opened #73 "UnrecognizedPropertyException: Unrecognized field "traffic_policy""
This problem come out when I get `DestinationRuleList` in namespace 'istio-system'
In the file `DestinationRuleSpec.class` of package `package me.snowdrop.istio.api.networking.v1alpha3;`
It is `trafficPolicy` instead of `traffic_policy`
my Istio version:
[code]
This is what I get `DestinationRule` from Kubernetes with kubectl:
[code]

Here is the error message:
[code]

[2019-08-01 19:18] metacosm commented on #73
How was that `DestinationRule` created?

[2019-08-05 06:48] lianghuiyuan opened #74 "istioClient.gateway().createOrReplace(gateway) come out `Namespace parameter required`"
When I use `istioClient.gateway().createOrReplace(gateway)` to update gateway. Come out `Namespace parameter required` error, but there have Namespace in metadata.
[code]
Error in Get method:
[code]

[2019-08-05 06:52] lianghuiyuan commented on #74
Fixed!
`result.setData(istioClient.gateway().inNamespace(namespace).withName(gatewayName).createOrReplace(gateway));`

[2019-08-05 06:52] #74 closed

[2019-08-07 17:56] lianghuiyuan opened #75 "make 'strict' failed : Unknown interfaces, Unvisited packages, Unvisited CRDs"
Istio Version=1.1.8
[code]
Istio Api Version=release-1.1
[code]

make crd ( I changed `oc` to `kubectl` in `Makefile` ):
[code]

make packages:
[code]
classes-with-interface-fields.yml
[code]

make strict:
[code]

[2019-08-07 18:44] metacosm commented on #75
Yes, there are things that are currently not covered as shown by `make strict`. I visit these once in a while or based on needs (i.e. if someone asks for explicit support for something that is not currently covered). Is there something that is missing for your use case?

[2019-08-08 13:31] lianghuiyuan commented on #75
Thank you! Actually, I used the Maven dependency `istio-client`, but come out some problems like
- `Interface` in class can not be Annotation detected
- `Unknown field 'percentage'` when create virtualservice
- class `ConsistentHash` should implements `LbPolicy` as `SimpleLbPolicy` does but it doesn't

I am not sure If it is my unfamiliar of Istio or something...
So, I want to build the Maven depe

[2019-08-12 15:49] lianghuiyuan commented on #73
It is the cloud platform I used  had created the destinationrule already.
now they fixed to supply both json and protobuf.

[2019-08-12 15:49] #73 closed

[2019-08-15 14:55] naitikdani opened #76 "Unable to create destinationrule in istio-system namespace"
I want to create a destinationrule in istio-system namespace, but it is failing with the following error:

DestinationRule drDefault = new DestinationRuleBuilder()
                .withApiVersion("networking.istio.io/v1alpha3")
                .withKind("DestinationRule")
                .withNewMetadata().withName("default").withNamespace("istio-system")
                .endMetadata()

[2019-08-15 18:16] tremaineeto commented on #61
@iocanel I had a similar issue (java.lang.NoClassDefFoundError: io/fabric8/kubernetes/client/dsl/base/OperationContext), and your suggestion seemed to have worked. In general, then, should the advice be to simply always insure that the version of our project's kubernetes-client sync exactly with the version in the istio-client?

[2019-08-15 18:21] iocanel commented on #61
If not 100% aligned, then major & minor versions.

On Thu, Aug 15, 2019, 21:16 Tremaine Eto <notifications@github.com> wrote:

[2019-08-19 16:52] vtiwari227 opened #77 "Error parsing VirtualService object"
@metacosm  Hi, I have a valid Yaml file for VirtualService, which I translate to VirtualService object and send that virtual service object as Json to decorator controller, I see serialized VirtualService object have additional attribute of matchtype and that's been rejected by Istio pilot validation

logs from Metacontroller
 E0819 16:51:18.506464       1 controller.go:245] failed to sync c4-serv

[2019-09-05 09:36] metacosm commented on #75
I will take a look ASAP.

[2019-09-05 09:37] metacosm commented on #76
I will take a look ASAP.

[2019-09-05 09:37] metacosm commented on #77
I will take a look ASAP.

[2019-11-06 14:39] sedooe opened #78 "Not compatible with newer fabric8 kubernetes client versions"
Hi,

I'm using latest version 1.1.0 and it uses the version 4.2.2 of `io.fabric8.kubernetes-client`.

I just upgraded my `io.fabric8.kubernetes-client` dependency from 4.3.1 to 4.5.2 and suddenly started to get `NoClassDefFoundError` for `io.fabric8.kubernetes.api.builder.ValidationUtils` because it's deleted one of the later versions. And all builder classes of istio-java-api uses `validate` meth

[2019-11-11 15:52] RnkeZ opened #79 "Unrecognized field "name" (class me.snowdrop.istio.api.networking.v1alpha3.HTTPRoute)"
Hi im trying to retrive vritual service.

What im using:
Kubernetes version 1.15.
Istio version 1.3.1.
istio-java-api 1.1.0.
kubernetes-client 4.2.2.

[code]
Error:
com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "name" (class me.snowdrop.istio.api.networking.v1alpha3.HTTPRoute), not marked as ignorable

Full error: [log.txt](https://github.com/snowdrop/istio-j

[2019-11-13 11:04] metacosm commented on #78
Hi, I've updated the client to `4.6.2`. For some reason, `4.6.3` is breaking the build so we're investigating what's going on there. Commit is https://github.com/snowdrop/istio-java-api/commit/82917010d9a0e6ea49a9cbf8a9c43507fb6e8e58 if you want to give it a try.

[2019-11-13 13:38] metacosm commented on #77
@vtiwari227 First, sorry it took so long for me to get back to this… 😢
Could you provide more details on how you generate the `VirtualService` and how you process it? An example project with which I could reproduce the issue would be best… Thanks in advance!

[2019-11-13 13:43] metacosm commented on #79
istio-java-api is not currently tested with Istio 1.3. I am working on releasing a new version soon.

[2019-11-14 08:50] metacosm commented on #76
Actually, you probably shouldn't be creating things in the `istio-system` namespace.

[2019-11-14 08:51] metacosm commented on #75
@lianghuiyuan do you still encounter issues?

[2019-11-14 08:52] metacosm commented on #67
Closing this as this is outside of the scope of this API.

[2019-11-14 08:52] #67 closed

[2019-11-14 15:53] lianghuiyuan commented on #75
@metacosm
Thank you for reminding.  Your `istio-java-api` works fine in my project as maven dependency.
This issue should be closed for I get focus on other programs these days.
I will reopen it if I encounter issues or have a better understanding of k8s Operator, crds and  istio, Thank you so much.

[2019-11-14 15:53] #75 closed

[2019-12-06 11:39] qhrking opened #80 "The client is using resource type 'gateways' with unstable version 'v1alpha3'"
io.fabric8  kubernates-client  4.6.3    kubernetes-model  4.6.3  istio-client 1.1.1

i.f.k.c.i.VersionUsageUtils - The client is using resource type 'gateways' with unstable version 'v1alpha3'

[2020-04-17 10:50] lianghuiyuan opened #82 "Unknown field 'consistentHash' (through reference chain: me.snowdrop.istio.api.networking.v1alpha3.DestinationRule["spec"]->me.snowdrop.istio.api.networking.v1alpha3.DestinationRuleSpec["trafficPolicy"]->me.snowdrop.istio.api.networking.v1alpha3.TrafficPolicy["loadBalancer"])"
[code]

 Caused by: com.fasterxml.jackson.databind.JsonMappingException: Unknown field 'consistentHash' (through reference chain: me.snowdrop.istio.api.networking.v1alpha3.DestinationRule["spec"]->me.snowdrop.istio.api.networking.v1alpha3.DestinationRuleSpec["trafficPolicy"]->me.snowdrop.istio.api.networking.v1alpha3.TrafficPolicy["loadBalancer"])

Error log:
[code]

[2020-04-20 09:35] mraszplewicz opened #83 "Upgrade Istio to 1.5.1"
Hi,

I did some work to upgrade Istio version to 1.5.1. I know it is not perfect but maybe you can use it somehow. I use only model and needed AuthorizationPolicy so I added it. I have also upgraded network to v1beta1.
Link to my commit: https://github.com/mraszplewicz/istio-java-api/commit/2fff582522077c59a83c1953d6ee47ba5f1f8c83

There were two issues while upgrading:
1. In CorsPolicy there are

[2020-04-22 07:17] shalk commented on #83
Great job, recently i was trying to upgrade istio version to 1.5.1.
First i changed  `go.mod` and meet  `jq problem`， fix  `generate.go`，
But when i `make strict`  I meet a lot of warn...

1. ref istio api https://github.com/istio/api/blob/1.5.1/networking/v1beta1/virtual_service.proto#L1049
 think  allowOrigin is deprecated but not reserved, so you should not remove it manually
2.  I did not know

[2020-04-23 20:42] metacosm commented on #83
Hi, thanks for this! I will look into it as soon as possible!

[2020-04-24 11:22] mraszplewicz commented on #83
@shalk
I also have some warnings while running make strict. I fixed whatever I could and then used make without strict.
1. The problem with allowOrigin and allowOrigins (both arrays) is that it just doesn't compile. Code generated from json schema has some errors.
[code]
2. It renders wrong yaml while using string match field. It is something like:
[code]
instead of:
[code]
and
[code]
instead of:

[2020-05-11 12:43] FWiesner commented on #83
hi guys. I'de be highly interested in a fix to this update issue. My own Golang Kung-Fu is unfortunately not sufficient to get things working

[2020-05-12 18:49] metacosm commented on #83
@mraszplewicz can you please open a PR?

[2020-05-13 06:02] tanjunchen commented on #83
hello , everybody , Is there any progress about update istio to 1.5.1?

[2020-05-13 07:23] tanjunchen commented on #83
@mraszplewicz please open a pr . Thanks

[2020-05-13 07:26] mraszplewicz commented on #83
I have opened a draft pull request. I do not consider this finished. It is just good enough for my use case.

[2020-05-13 08:01] metacosm commented on #83
@mraszplewicz Thank you! Would you mind re-opening the PR agains the `1.5.x` branch I just created? This way, I'll merge your changes and use them as starting point.

[2020-05-13 08:49] mraszplewicz commented on #83
@metacosm I have changed the target to the 1.5.x branch

[2020-05-14 23:23] cfryanr commented on #83
@metacosm and @mraszplewicz, We're excited to use the newest version and we saw that you merged the PR.  🎉

We tried checking out the 1.5.x branch and doing `mvn clean install`.

We noticed that there seems to be some missing generated code. There are no implementations of the interface `me.snowdrop.istio.api.networking.v1alpha3.EnvoyConfigObjectMatch.ObjectTypes` which corresponds to this `oneof`

[2020-05-15 00:32] cfryanr commented on #83
Somewhat separately, and this might just be a question of not being familiar with how to use the library, how does one generate a nested Struct? We ask because we're new at using the library so we can't be sure if it is another missing aspect of the code generation, or if we just missed understanding something.

For example, in the code above, we're trying to make an `EnvoyFilter` which contains a

[2020-05-15 07:25] metacosm commented on #83
@cfryanr I’m still working on the 1.5.x branch. I had some ideas on how to improve the schema generation and started working on this but I think I will set them aside for now in favor of a quick 1.5 beta release…

[2020-05-18 21:43] metacosm commented on #83
I've pushed several changes to the branch, in particular to be able to support multiple versions of the same CR (e.g. to support both `v1alpha3` and `v1beta1` versions of networking). I've also handled the `allowOrigin` vs. `allowOrigins` case by renaming the `allowOrigin` field, which is deprecated, to `deprecatedAllowOrigin` to avoid confusing both the code generator and the api… 😄
I will take a

[2020-05-19 08:05] metacosm commented on #78
@sedooe Can I close this issue?

[2020-05-19 08:07] metacosm commented on #76
You're not supposed to create resources in the `istio-system` namespace.

[2020-05-19 08:07] #76 closed

[2020-05-19 08:57] sedooe commented on #78
@metacosm sure.

[2020-05-19 09:11] #78 closed

[2020-05-19 09:11] metacosm commented on #77
@vtiwari227 Can I close this issue?

[2020-05-19 09:35] metacosm commented on #56
This should be fixed now.

[2020-05-19 09:35] #56 closed

[2020-05-19 09:35] metacosm commented on #80
@qhrking could you please provide more details on what you're trying to accomplish?

[2020-05-19 09:38] metacosm commented on #82
@lianghuiyuan could you please provide the `DestinationRule` yaml that caused this issue?

[2020-05-19 12:56] metacosm commented on #83
@cfryanr the issue with `ObjectTypes` should be fixed now. I'm going to look at the `Struct` issue.

[2020-05-19 20:08] vtiwari227 commented on #77
@metacosm yes you can close this. this is no longer a issue

[2020-05-19 20:08] #77 closed

[2020-05-19 22:53] metacosm commented on #83
@cfryanr the issue with nested `Struct`s in `EnvoyFilter` should also be fixed now

[2020-05-20 12:01] metacosm commented on #83
I've released 1.5.4-Alpha1. Please give it a try and open new issues as needed.

[2020-05-20 12:01] #83 closed

[2020-05-20 16:14] cfryanr commented on #83
Thanks for the fixes, @metacosm! We'll give them a try as soon as we can.

[2020-06-08 14:11] metacosm commented on #83
@cfryanr any news?

[2020-06-08 17:23] cfryanr commented on #83
Hi @metacosm, looks like we're not going to get back to that right away. Thanks for the fixes, though. We'll be sure to try them out when we get back to that project.

[2020-06-08 19:27] metacosm opened #86 "Upgrade to Istio 1.6.2"

[2020-06-09 06:21] shalk commented on #83
I just update my project dependency from 1.1.1 to 1.5.4-Alpha1,and switch api from v1alpha3 to v1beta1.   **It works fine**

[code]

[2020-06-09 08:28] metacosm commented on #83
@shalk I'm plannning on releasing 1.5.4 final this week and get on 1.6.1 support…

[2020-06-09 08:39] mraszplewicz commented on #83
Hi @metacosm,

I have also upgraded to 1.5.4-Alpha1 and almost everything works. I have found two bugs but I don't have enough time to write tests. Both are mentioned in my first post on this issue. I will create new issues for them and write tests as soon as I can.

[2020-06-09 08:42] metacosm commented on #83
@mraszplewicz is it regarding `allowOrigin` vs. `allowOrigins`? If yes, I've addressed this by renaming `allowOrigin` to `deprecatedAllowOrigin`. See https://github.com/snowdrop/istio-java-api/issues/83#issuecomment-630450762

[2020-06-09 08:58] mraszplewicz commented on #83
@metacosm the first one is regarding allowOrigins. Now it serializes to deprecatedAllowOrigin... so I had to manually set deprecatedAllowOrigin to null.

The second one is a problem with StringMatch serialization.

Anyway, I use it and I think it is good enough to release it.

[2020-06-09 09:00] metacosm commented on #83
I see. I didn’t consider that aspect… 😔
Let’s see if I can fix it. Do you have more details on the StringMatch issue? I thought I had addressed one such issue but maybe I missed some.

[2020-06-09 09:15] mraszplewicz commented on #83
Look at yaml fragments in https://github.com/snowdrop/istio-java-api/issues/83#issuecomment-618953816 as far as I remember Istio will not accept ```matchType``` in yaml.

[2020-06-15 10:07] metacosm opened #87 "`deprecatedAllowOrigin` should be output as `allowOrigin`"

[2020-06-15 10:10] #87 closed

[2020-06-15 15:54] metacosm opened #88 "Update metadata generation for new Istio file layout"
Previous Istio install used Helm charts that we were relying on to get CRD information. These charts don't exist anymore so we need to use something else instead: the CRD information automatically generated that exists in the API project under `/kubernetes/customresourcedefinitions.gen.yaml`.

[2020-06-15 15:58] metacosm opened #89 "Update POM versions to 1.6.2-SNAPSHOT"

[2020-06-15 20:56] metacosm opened #91 "Remove deprecated Policy support"

[2020-06-15 20:59] metacosm opened #92 "Support WorkloadEntry CRD"
See https://istio.io/latest/docs/reference/config/networking/workload-entry/

[2020-06-16 14:59] metacosm opened #93 "Create 1.5 branch to merge 1.6 work into master"

[2020-06-16 15:01] #93 closed

[2020-06-16 15:22] #86 closed

[2020-06-16 15:22] #88 closed

[2020-06-16 15:22] #89 closed

[2020-06-16 15:22] #91 closed

[2020-06-18 07:49] #92 closed

[2020-06-24 12:24] FWiesner opened #94 "1.6.2-Alpha2 is incompatible with latest fabric8 libraries"
Hi,

when trying to creating `ServiceEntry`, the code fails as the Istio client seems to treat `ServiceEntry` as non-namespaced resource type:
[code]

I'm using the latest master code

[2020-06-24 13:15] FWiesner commented on #94
[code]
I'm btw on Istio 1.6.2 with Kubernetes 1.18.4

[2020-06-24 13:26] FWiesner commented on #94
I tried with `DestinationRule` as well. Namespaces don't properly work there as well (here the `inNamespace` is fully ignored):
[code]
This throws ```
Exception in thread "main" java.lang.ExceptionInInitializerError
Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Namespace mismatch. Item namespace:istio-system. Operation namespace:istio-trials.
	at io.fabric8.kubernetes.client.d

[2020-06-24 13:29] FWiesner commented on #94
makes no difference whether I use v1alpha3 or v1beta1 alternatives

[2020-06-24 16:28] FWiesner commented on #94
Another update: it seems this is caused because of recent changes in the fabric8.io client integrating a new interface `io.fabric8.kubernetes.api.model.Namespaced` that all model elements seem to have to implement

[2020-06-24 16:34] FWiesner commented on #94
switching back to 4.9.0 solves the problem

[2020-06-30 08:03] metacosm commented on #94
Thank you for the investigation and fix! I will also address the TLS enum issue as this is actually an error that got through the go-to-java conversion process…

[2020-06-30 08:03] #94 closed

[2020-06-30 08:05] metacosm opened #96 "Some enums have improperly named fields"
See for example: https://github.com/snowdrop/istio-java-api/blob/master/istio-model/src/main/java/me/snowdrop/istio/api/networking/v1beta1/ServerTLSSettingsProtocol.java#L34 which requires additional annotations for proper de-/serialization.

[2020-06-30 08:19] #96 closed

[2020-06-30 15:56] metacosm opened #97 "Release 1.6.3-Beta1"
- Update to newly released 1.6.3 version
- Fix an issue with wrong enum values
- Upgrade to kubernetes-client 4.10

[2020-06-30 15:57] #97 closed

[2020-07-02 02:38] DragonSuper opened #98 "I can't find istio-model kind "handler instance" in apiVersion "config.istio.io/v1alpha2""
[code]

[code]

istio-java-api/istio-model is no classes (instance handler).
What should I do to get what resources((instance handler).
Thanks!

[2020-07-02 09:00] metacosm commented on #98
Can you please provide which Istio version you're targeting and which version of `istio-java-api` you're using?

[2020-07-02 09:51] DragonSuper commented on #98
istio version: 1.4.4
istio-java-api: 1.1.1 or 1.5.5

kubectl api-resources

[code]

The new version istio has no kinds (prometheus memquota redisquota ...) ,but it has kinds (handler instance )

[2020-07-02 10:12] zhengzepeng opened #99 "Can not Use EnvoyFilter"
EnvoyFilter_Patch.Value is Struct in Golang~But in Java，it has problem！

- In Istio

It use yaml to submit the envoyfilter,the patch.Value type like map,Istiod decode it to Struct.

- In Java

when you list EnvoyFilter,the patch.Value type  you get from the apiserver  is like map,so it can not use the json to transfer to struct.

- when you generate the istio-schema.json file
It is a good way to u

[2020-07-02 10:17] metacosm commented on #98
Yes, this isn't yet supported but I will take a look at supporting it. I was waiting to see if anyone actually needed it before trying to support it… :)

[2020-07-02 20:32] metacosm commented on #98
I've started working on it in #100. The initial work is currently detyped, using Struct as opposed to using type-safe API, I'm looking into ways to generate the appropriate classes so that a `metric` `instance`, you only get the appropriate fields in `params` instead of having a map-like structure to contend with.

[2020-07-02 20:36] metacosm commented on #99
This idea is interesting but I think it would be better if we could address the issue directly in the code generation itself instead of relying on modifying said code generation… I'm not sure exactly how to deal with this, though.

Could you please describe in greater detail your use case? It would be helpful to have code example of how the API currently behave and how you would like it to behave,

[2020-07-02 20:38] metacosm commented on #99
Also, could you please specify which version of Istio and which version of `istio-java-api` you're using?

[2020-07-03 02:02] zhengzepeng commented on #99
The Istio Version is 1.5.4,and the api version is 1.5.5,the demo code like that :

	package istio;

	import io.fabric8.kubernetes.client.Config;
	import io.fabric8.kubernetes.client.ConfigBuilder;
	import me.snowdrop.istio.client.DefaultIstioClient;

	public class IstioDemo {

	    public static void main(String[] args) {
	        Config config = new ConfigBuilder().build();
	        config.setMas

[2020-07-03 03:16] zhengzepeng commented on #99
I search the istio doc，only one using the Struct type，[EnvoyFilter-Patch](https://istio.io/latest/docs/reference/config/networking/envoy-filter/#EnvoyFilter-Patch)，so can we code like that?

	case reflect.Struct:
		// if Istio Struct type
		if g.qualifiedName(t) == "protobuf_types_Struct" {
			return JSONPropertyDescriptor{
				JavaTypeDescriptor: &JavaTypeDescriptor{
					ExistingJavaType: "java.

[2020-07-03 07:44] metacosm commented on #99
Can you try with the latest version of the API, please?

[2020-07-03 16:06] zhengzepeng commented on #99
Same problem in 1.6.2-Alpha1/1.6.3-Beta1.

[2020-07-08 21:10] metacosm commented on #98
This is taking longer than expected but things are progressing.

[2020-07-10 08:49] metacosm commented on #99
@zhengzepeng can you provide a sample YAML file that exhibits the issue, please, so that I can try to reproduce it locally?

[2020-07-10 08:55] #98 closed

[2020-07-10 09:13] metacosm opened #101 "Release 1.6.5-Beta2"
This release includes a major improvement since the API now supports Instance and Handler custom resources. See #98.

[2020-07-10 13:05] #101 closed

[2020-07-16 14:27] chichaoatabc opened #102 "Where is the VirtualServie VirtualServiceBuilder class?"
I cant find VirtualServie  VirtualServiceBuilder class in package me.snowdrop.istio.api.networking.v1beta1. Where are they?

[2020-07-17 13:45] metacosm commented on #102
Which version of the API are you using?

[2020-07-18 14:21] chichaoatabc commented on #102
I read the source code from master , the VirtualService and VirtualServiceBuilder class is missing in the test/VirtualServiceIT.java or Gateway and GatewayBuilder class in test/GatewayIT.java.  I just want to know how to write these CRD resource class.

[2020-07-19 07:37] #102 closed

[2020-07-21 13:49] chenhy97 opened #103 "Virtual Service Delay bug"
Istio:1.6.0
kubernetes-client:4.9.0
istio-java-api:1.6.3-beta1
When creating VirtualService with Delay Fault which is defined with "percentage", I encountered a bug:
[code]
However, Virtual Service with Abort Fault is normal.

What is more, the api version of the created VIrtual Service is "networking.istio.io/v1beta1" while I use "networking.istio.io/v1alpha3" in my code.

[2020-07-21 15:27] metacosm commented on #103
Do you have a code sample / YAML file that I could look at?

[2020-07-22 01:42] chenhy97 commented on #103
@metacosm
The code:
[code]
Yaml:
[code]

[2020-07-22 07:58] metacosm commented on #103
@chenhy97 thank you, I am going to take a look

[2020-07-22 09:26] metacosm commented on #103
Regarding that part, are you sure that you import the `v1alpha3` version of the `VirtualServiceBuilder` class?

[2020-07-22 11:43] #103 closed

[2020-07-22 13:22] metacosm opened #104 "Release 1.6.5-Beta3"

[2020-07-22 13:27] metacosm commented on #103
Please give a try to newly released 1.6.5-Beta3.

[2020-07-22 13:28] #104 closed

[2020-07-23 06:50] zhengzepeng commented on #99
Sorry, I have been a little busy recently. I forgot to reply to you！

I use istio1.6.2！And some EnvoyFilter exists in the istio-system namespaces,like that:

	[root@k8smaster ~]# kubectl get envoyfilter -n istio-system
	NAME                        AGE
	metadata-exchange-1.4       7d21h
	metadata-exchange-1.5       7d21h
	metadata-exchange-1.6       7d21h
	stats-filter-1.4            7d21h
	stats-f

[2020-07-23 09:11] metacosm commented on #82
I cannot reproduce this issue so closing it. Please re-open if you're still facing this problem.

[2020-07-23 09:11] #82 closed

[2020-07-23 09:16] metacosm commented on #79
Are you still facing this issue?

[2020-07-24 10:49] metacosm opened #105 "Fix EnvoyFilter support by using detyped Map"
See #99. The issue being that `Struct` objects cannot be properly deserialized.

[2020-07-24 10:51] metacosm opened #106 "Add helper to more easily deal with detyped maps by allowing access to elements via path"

[2020-07-24 11:13] #99 closed

[2020-07-24 11:13] #105 closed

[2020-07-24 11:13] #106 closed

[2020-07-24 11:21] metacosm opened #107 "Release 1.6.5-Beta4"
Provides fixes for:
- #99
- #105
- #106

[2020-07-24 13:23] #107 closed

[2020-07-24 13:25] metacosm commented on #99
@zhengzepeng this should now be fixed in 1.6.5-Beta4. See https://github.com/snowdrop/istio-java-api/blob/master/istio-model/src/test/java/me/snowdrop/istio/api/networking/v1alpha3/EnvoyFilterTest.java how to access the `EnvoyFilter` data in a detyped way.

[2020-07-24 15:04] zhengzepeng commented on #99
@metacosm Thanks!But it was builded in java 11,can u release a version builded in java8?we use this in java8,it is unlikely to upgrade to java 11 for now

[2020-07-24 16:11] metacosm opened #108 "Revert to use Java 8"
Some users are still depending on Java 8 so keep using it for now.

[2020-07-24 16:12] #108 closed

[2020-07-25 08:08] metacosm opened #109 "Release 1.6.5-Beta5, reverting to Java 8"

[2020-07-25 08:31] #109 closed

[2020-07-25 08:33] metacosm commented on #99
@zhengzepeng I've released a new version built using Java 8.

[2020-07-25 15:36] zhengzepeng commented on #99
Thank you!

[2020-07-26 10:06] Chiarorucs opened #110 "About resource "handler""
Hey,I have a good news to tell you: the one you're waiting for in issues #98 ,who actually needed it ,is coming!

I've read the class HandlerTest.java in version 1.6.5-Beta2, but I couldn't find a method to get the existing  "handler" ,like the one to get vitualservice or destinationrule. Is it on the way?

Also, I am conscious of the changes between ver 1.1.1 and ver 1.6.5-Beta2:  I can get desti

[2020-07-26 17:06] metacosm commented on #110
You're right: I forgot to add the methods to the IstioDsl interface. This should now be fixed.

Whichever suits your needs. `v1alpha3` corresponds to the older version used by networking custom resources in previous Istio versions while `v1beta1` corresponds to the current version.

You're welcome.

[2020-07-26 17:07] #110 closed

[2020-07-26 17:08] metacosm opened #111 "Release 1.6.5-Beta6"

[2020-07-26 17:26] #111 closed

[2020-07-27 03:29] iwangxiaodong opened #112 "istio.common and istio.model package “me.snowdrop.istio.api” is duplicate"
Hello:

  istio.common and istio.model package “me.snowdrop.istio.api” is duplicate

  JDK9+ module system is not supported!!!

Thanks!

@metacosm

[2020-07-27 08:08] metacosm commented on #112
@iwangxiaodong Could you elaborate please? How does that manifest?
We made the choice to stay on Java 8 for the moment.

[2020-07-27 08:14] iwangxiaodong commented on #112
@metacosm

Just change package name.

Keep istio.model package，change istio.common package “me.snowdrop.istio.api” to “me.snowdrop.istio.common.api” ...

compatible JDK8 and JDK9+ (JPMS)

[2020-07-27 08:16] metacosm commented on #112
I meant, how does that manifest itself in your code?

[2020-07-27 08:29] iwangxiaodong commented on #112
enabled JPMS(module-info.java):

error: module my.module reads package me.snowdrop.istio.api from both istio.common and istio.model

[2020-07-28 14:44] iwangxiaodong commented on #112
I will close this issue, waiting for future JDK9+JPMS, your official support.

[2020-07-28 14:52] metacosm commented on #112
Let's leave it open to keep it on the radar but it's not currently a priority…

[2020-07-28 14:58] iwangxiaodong commented on #112
Sure.

[2020-08-20 14:35] Chiarorucs opened #113 "About creating a Duration instance"
Hey! I'm the #110 gay.I'm afraid I'll bother you again. About creating a Duration instance.

There're some fields with type "Duration" among Destinationrule settings, such as "interval"

`interval   |  Duration   |  Time interval between ejection sweep analysis. format: 1h/1m/1s/1ms. MUST BE >=1ms. Default is 10s.`

The Duration.class has a constructor like
`public Duration(Integer nanos, Long sec

[2020-09-01 07:30] Gefuxing commented on #112
哈哈

[2020-10-19 09:40] metacosm opened #116 "Release 1.7.3.Alpha2"

[2020-10-19 14:15] #116 closed

[2020-11-19 10:04] rohanKanojia opened #117 "Migrate Istio Java Extension to Fabric8 Repository"
Thanks a lot for providing this great Extension.

I think it would be really nice if this could become a part of [Fabric8 Kubernetes Client Extensions](https://github.com/fabric8io/kubernetes-client/tree/master/extensions). It would be a great addition to Fabric8.

There were similar efforts made in past for migrating [ServiceCatalog Extension](https://github.com/snowdrop/servicecatalog-java-api)

[2020-11-25 07:31] shalk commented on #113
I meet the same issue  when I use use  `timeout` and `fault inject`( delay) for virtualservice。
When i set timeout as  1200 ms =  1s   200_000_000 nanos，  the nanos will be ignore， only 1s applied
I seens  the  Serializer  or  Deserializer only support `seconds`
[code]

[2020-11-25 07:37] metacosm commented on #113
I will try to address this issue this week. Sorry for the inconvenience.

[2020-11-25 07:53] shalk commented on #113
Thank you for reply. In my case , millisecond is accurate enough.  my istio-java-api's  version is  1.6.5-beta4 while our istio is 1.5.x

[2020-12-03 15:12] AndreaNicola commented on #80
It's a default warning from fabric8 kubernetes client.

``
/**
 * Copyright (C) 2015 Red Hat, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing

[2020-12-03 15:50] AndreaNicola opened #119 "Issue with VirtualService allowCredentials attribute in http corsPolicy object"
Hello,

i'm having an issue trying to generate a VirtualService yaml with cors Policy, particularly with allowCredentials field.

Using this code:

[code]

or this code

[code]

i'm getting cors policy object looking like this:

[code]

And when i try to use this cors policy with a virtualservice like the one below i got this error:

[code]

Message: VirtualService.networking.istio.io "top-man-ser

[2020-12-04 23:18] leyvReyn opened #120 "User "system:anonymous" cannot list resource"
Hello.
I am trying to access istio Gateway but getting permission exception.
The code I use to access it:
[code]

The error I am getting:
[code]
As you may see,  `OpenShiftClient` works well (I am successfully getting `Service name = nginx-service`).
I use the same `config` for `OpenShiftClient` and `IstioClient`.
But `IstioClient` does not work as I expect.
I am able to get gateway through `oc`:

[2020-12-05 22:22] #119 closed

[2020-12-05 22:42] metacosm opened #121 "Release 1.6.14"

[2020-12-05 22:42] metacosm opened #122 "Release 1.7.5-Beta1"

[2020-12-05 23:15] #122 closed

[2020-12-05 23:15] #121 closed

[2020-12-05 23:17] metacosm commented on #113
This should be fixed with the release of 1.6.14.

[2020-12-05 23:17] #113 closed

[2020-12-07 10:37] leyvReyn commented on #120
the problem solved by replacing login/password with OauthToken.
in terminal:
[code]
and in code:
[code]

[2020-12-07 10:37] #120 closed

[2020-12-10 14:54] paolodedo opened #123 "Istio Security API missing"
Hello,

With 1.7.5-Beta1 version, I am not able to manipulate the CRUD operations for RequestAuthentication, PeerAuthentication and AuthorizationPolicy through IstioClient.java object (so basically Istio security entities).
There aren't useful methods in this class, while for example I can manipulate Gateway, Virtual Services, etc.

Thanks.

[2020-12-10 21:18] #123 closed

[2020-12-10 21:49] metacosm commented on #123
This should be addressed in the newly released `1.7.5-Beta2`. Let us know if there still are issues. Thanks for the report!

[2020-12-11 10:56] paolodedo commented on #123
@metacosm thank you very much!
Unfortunately, I haven't found it in maven repository, even though it is released.

[2020-12-11 11:06] metacosm commented on #123
@paolodedo Indeed, seems like something went wrong during the release process… 🤔

[2020-12-11 11:32] metacosm commented on #123
I'm releasing it again. Not sure what happened before…

[2020-12-11 12:17] metacosm commented on #123
Should be fixed now.

[2020-12-11 15:44] paolodedo commented on #123
Still nothing

[2020-12-11 17:39] metacosm commented on #123
Hmm, https://oss.sonatype.org/#nexus-search;gav~me.snowdrop~istio-model~~~~kw,versionexpand shows it as available, maybe it hasn't propagated to Maven central yet?

[2021-01-08 03:23] zuoqinbo opened #124 "No resource type found for: config.istio.io/v1alpha2#rule"
the istio 1.8 yaml support config 'rule'

but i find the class IstioResourceMappingsProvider  didnot support config.istio.io/v1alpha2#rule

[2021-02-04 09:14] zhaoli2333 opened #125 "HttpQueryParameterNameHashKey not supported"
HttpQueryParameterNameHashKey is not supported , Istio version is 1.8

[2021-02-13 10:18] metacosm commented on #125
Istio 1.8 is not currently supported.

[2021-02-19 13:36] FWiesner opened #126 "Support for Kubernetes-client 5.x"
5.x brings several breaking changes that make istio-java-api incompatible

[2021-02-22 14:10] metacosm commented on #126
Hi @FWiesner,
Could you elaborate on why you need support for 5.x?

[2021-02-22 14:18] FWiesner commented on #126
@metacosm there are upcoming changes (mainly support for dry runs) in 5.x that we need for our project's operator. As 5.x has no backward-compatibility, all modules we use that depend on the Fabric8 Kubernetes Client have to be upgraded

[2021-02-22 14:23] metacosm commented on #126
@FWiesner makes sense. Thank you.

[2021-02-22 14:38] metacosm commented on #126
Which version of istio are you using, btw?

[2021-02-22 14:42] FWiesner commented on #126
We're on 1.7. We'll uptake latest Istio in a month or two

[2021-02-22 15:24] metacosm commented on #126
This is now fixed. Thanks!

[2021-02-22 15:24] #126 closed

[2021-02-22 15:25] metacosm opened #128 "Release 1.7.7"

[2021-02-22 16:45] metacosm commented on #128
https://repo.maven.apache.org/maven2/me/snowdrop/istio-java-api/1.7.7/

[2021-02-22 16:45] #128 closed

[2021-02-23 15:48] FWiesner opened #129 "Fix #126 doesn't work with shared informers"
Shared informers won't seem to synchronize

[2021-02-23 15:48] FWiesner commented on #129
@metacosm I'm working on a fix

[2021-02-23 15:51] metacosm commented on #129
By the way, if you're writing operators in java, I've you taken a look at https://github.com/java-operator-sdk/java-operator-sdk?

[2021-02-23 16:28] FWiesner commented on #129
we took a look, but the "manual" way is more appealing to us at the moment

[2021-02-23 16:48] FWiesner commented on #129
@metacosm I try adding the new Kubernetes Client OOTB annotations besides `@IstioKind` and `@IstioApiVersion`. I've made them visible to `IstioTypeAnnotator` and added them to `istio-resource.vm` Velocity template. Where I have a problem is that the standard Kubernetes annotations are apparently not in `model.annotations` and I have a really hard time figuring out, where `model` is initialized

[2021-02-23 17:19] metacosm commented on #129
I'd be interested in hearing about why you went that way and what could be done to improve the situation if you get a chance… 😃

[2021-02-23 17:21] FWiesner commented on #129
sure - Zoom, Slack, Gitter or whatever you like? ;)

[2021-02-23 17:22] metacosm commented on #129
Can you open a PR with what you currently have so that I can take a look, please? Make sure to make it possible for me to edit it if you don't mind.

[2021-02-23 17:23] FWiesner commented on #129
did I forget to give you editing permission last time 🤭 ?

[2021-02-23 17:48] FWiesner commented on #129
btw. I'm at the moment still debugging, why I have the issue with the Istio client in the first place. As the new changes in the Kubernetes Client could use some more documentation, I'm little bit in a shotgun debugging mode. the bug is possibly still in our operator code, not in the fix to #126

[2021-02-23 17:55] FWiesner commented on #129
I'm trying to add the `@Version`, `@Plural` and `@Group` annotations due to https://github.com/fabric8io/kubernetes-client/blob/5af64095ccaa9b2a8fed79bc1b313432fd650336/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/SharedInformerFactory.java#L183-L186

[2021-02-23 18:06] FWiesner commented on #129
@metacosm I've pinged you on Gitter

[2021-02-23 21:46] #129 closed

[2021-03-22 07:10] kent61314 opened #131 "Unknown field 'localityLbSetting'"
Hi

I an trying to create a DestinationRule with LocalityLoadBalancer using istio-client 1.7.7.1 on istio 1.8.3
[code]
I got the following error:

[code]
But the DestinationRule is successfully created on K8S

[code]

Is this the same issue with https://github.com/snowdrop/istio-java-api/issues/64#issue-442607114 ?

Thanks!

[2021-04-12 07:08] enrique-fernandez-polo opened #132 "java.lang.NoSuchMethodError when creating Sidecar"
Hello all!

I am trying to create a `Sidecar` with the following code but I am getting `java.lang.NoSuchMethodError`

[code]

The error that I get is
[code]

Thanks in advance!

[2021-04-12 10:08] chestarss opened #133 "createOrReplace not working"
DestinationRule destinationRule = objectMapper.readValue(yaml, DestinationRule.class);
 Object o = istioClient.inAnyNamespace().v1alpha3DestinationRule().createOrReplace(destinationRule);

java.lang.ClassCastException: class [Ljava.lang.Object; cannot be cast to class [Lio.fabric8.kubernetes.api.model.HasMetadata; ([Ljava.lang.Object; is in module java.base of loader 'bootstrap'; [Lio.fabric8.kube

[2021-04-12 15:13] enrique-fernandez-polo commented on #132
I have to use kubernetes client version `5.1.0` instead of `5.3.0`. Solved!

[2021-04-12 15:13] #132 closed

[2021-04-15 06:23] chestarss opened #134 "istio virtualService getDoneableType is null"
String yaml = "---\n"
                + "apiVersion: \"networking.istio.io/v1beta1\"\n"
                + "kind: \"VirtualService\"\n"
                + "metadata:\n"
                + "  name: \"golang-demo\"\n"
                + "  namespace: \"dian-stable\"\n"
                + "spec:\n"
                + "  hosts:\n"
                + "  - \"golang-demo\"\n"
                + "  http:\n"

[2021-04-30 07:50] lishiyao123 opened #135 "istio 1.7.7 and kubernetes-client 5.1.0 , ListOptions Exception"
The version I'm using is

        <dependency>
            <groupId>me.snowdrop</groupId>
            <artifactId>istio-client</artifactId>
            <version>1.7.7</version>
        </dependency>

        <dependency>
            <groupId>io.fabric8</groupId>
            <artifactId>kubernetes-client</artifactId>
            <version>5.1.0</version>
        </dependency>

but ,When I try to lis

[2021-06-04 10:42] FqqCS commented on #135
@metacosm   will u support this?

[2021-06-04 11:11] metacosm commented on #135
Please try with version `1.7.7.1`.

[2021-06-04 11:12] metacosm commented on #134
Which version of the API are you using?

[2021-06-04 13:16] metacosm commented on #133
Which version of the API are you using?

[2021-06-07 07:04] chestarss commented on #134
1.7.7

[2021-06-07 07:04] chestarss commented on #133
1.7.7

[2021-06-07 07:07] chestarss opened #136 "VirtualService model not recognize `status` fields"
ApiVersion: 1.7.7

com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "status" (class me.snowdrop.istio.api.networking.v1beta1.VirtualService), not marked as ignorable (4 known properties: "spec", "kind", "apiVersion", "metadata"])
 at [Source: (BufferedInputStream); line: 1, column: 587] (through reference chain: me.snowdrop.istio.api.networking.v1beta1.VirtualSe

[2021-09-07 12:07] rbaeurle opened #137 "Upgrade to fabric8 kubernetes-client 5.7.2 fails with latest istio-java.client 1.7.7.1"
when upgrading from fabric8 kubernetes-client 5.2.1 to 5.7.2 we get the following error while creating an VirtualService object:

java.lang.NoSuchMethodError: io/fabric8/kubernetes/client/dsl/base/HasMetadataOperation.<init>(Lio/fabric8/kubernetes/client/dsl/base/OperationContext;)V (loaded from jar:file:/app.jar!/BOOT-INF/lib/kubernetes-client-5.7.2.jar!/ by org.springframework.boot.loader.Launch

[2021-09-10 01:00] siaron opened #138 "Is it aligned with the istio version?"

[2021-09-14 08:33] Etone commented on #137
Any news on this? We can not upgrade our K8s Clusters to 1.21 due to this issue

[2021-09-21 09:38] FWiesner commented on #137
we are struck by this as well now. I might have a look tomorrow

[2021-09-23 10:07] uCatu opened #140 "3 critical CVSS even after upgrade to latest (1.7.7.1)"
Hi all,
We are running OWASP dependency checker and got 3 critical CVSS:

[code]

Location | Component Name | Component Version | Group
-- | -- | -- | --
istio-common-1.7.7.1.jar | me.snowdrop:istio-common | 1.7.7.1 | N

862 | CVE-2021-31921
-- | --

[code]

What is your recommendation to solve this?
Thanks!

[2021-09-28 13:31] metacosm commented on #137
I started having a look at it. See #141.

[2021-10-05 06:46] FWiesner commented on #140
the CVEs you refer to are for Istio itself. This library here is "just" a client to the Istio custom resources. Seems the detection configuration in the OWASP rule set leads to a false positive. This project cannot do anything about it

[2021-11-07 09:20] foal commented on #137
Any progress on it?

[2022-01-08 08:40] Tan-JiaLiang commented on #137
Hi @metacosm , when will the PR #141 merge?

[2022-01-08 10:32] metacosm commented on #137
Please migrate to the [fabric8 client](https://github.com/fabric8io/kubernetes-client) version 5.11 and above and use the Istio client extension from that project.

This project is now deprecated and further development will happen in the kubernetes-client project.

[2022-01-08 10:58] Tan-JiaLiang commented on #137
Thanks @metacosm , it work in fabric8 client.

[2022-01-08 11:16] #137 closed

[2022-01-25 15:07] Sgitario opened #142 "istio-java-api: Migrate Circle CI to Github CI"

[2022-01-26 11:58] Sgitario commented on #142
The repository was already configured to use GitHub CI. Closing...

[2022-01-26 11:58] #142 closed, assigned to nobody

[2022-03-09 16:23] vijeyanidhi opened #143 "CVE After upgrading to 1.7.7.1"
Hi all,
We are running a OWSAP dependency checker and got the following CVE

CVE-2022-23635 -> CWE-287

| Location | Component Name | Component Version | Group |
| --- | --- | --- | --- |
| istio-model-1.7.7.1 | me.snowdrop:istio-model | 1.7.7.1 | N |

1. Is https://mvnrepository.com/artifact/me.snowdrop/istio-client/1.7.7.1 EOL ? Is that why there are no new versions have been released since Feb

[2022-03-11 15:32] #112 closed